# Environment variables (Crucial for security!)
.env
.env.*
personal-access-token
# Docker-related
*.log
volumes/
*.bak
.DS_Store

# Persistent data (databases, certs, SSL, etc.)
data/
certbot/conf/
certbot/www/
ssl/

# Temporary or system files
Thumbs.db
*.swp

# n8n internal state
# Workflows are tracked separately in the `workflows/` directory
/home/node/.n8n/
